<%- include('template/header', { pageTitle: 'Detalle de mascota' }) %>

    <body>
        <div class="container">
            <h1>
                <%= titulo %>
            </h1>
            <% if (error) { %>
                <p><%= errorMessage %></p>
            <% } %>
            <% if (!error) { %>
                <form id="editForm" data-id="<%= pet.id %>">
                    <input type="text" value="<%= pet.name %>" class="form-control my-2" name="name">
                    <input type="text" value="<%= pet.description %>" class="form-control my-2" name="description">
                    <button type="submit" class="btn btn-warning btn-block">Guardar</button>
                </form>
                <a class="btn btn-danger btn-block my-2" id="btnDelete" data-id="<%= pet.id %>">
                    Eliminar
                </a>
                <% } %>
            <a class="btn btn-success btn-block my-2" href="/pets">
                Volver a mascotas
            </a>

        </div>

        <%- include('template/footer') %>

        <script>
            const deleteButton = document.getElementById('btnDelete');
            deleteButton.addEventListener('click', async() => {
                const id = deleteButton.dataset.id;

                try {
                    const data = await fetch(`/pets/${id}`, {
                        method: 'delete'
                    });
                    const response = await data.json();
                    if (response.status == 200) {
                        location.href = '/pets';
                    } else {
                        console.log(response);
                    }
                } catch (error) {
                    console.log(error);
                }
            });

            const editForm = document.getElementById('editForm');
            editForm.addEventListener('submit', (e) => {
                e.preventDefault();
                console.log('submit');
                const name = editForm.elements['name'].value;
                const description = editForm.elements['description'].value;
                const id = editForm.dataset.id;
                console.log(name, description, id);
            })
        </script>